body {
   background: url(./media/basic-pics/djback.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
}

.music-box {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.drum {
    flex: 1 0 15%;
    padding: 2.5rem;
    margin: 0.5rem 1rem;
    text-align: center;
    background: rgba(10,211,238,0.75);
    box-shadow: 2px 2px 2px #333;
    cursor: pointer;
}

.drum:active {
    transform: scale(0.5);
    transition: .3s;
}

